@font-face {
    font-family: "SourceSans3-SemiBold";
    src: url("../../assets/FONTs/SourceSans3-SemiBold.ttf");
}

@font-face {
    font-family: "SourceSans3-Regular";
    src: url("../../assets/FONTs/SourceSans3-Regular.ttf");
}

.mainContainer {
    width: 100%;
}

.searchContainer {
    position: fixed;
    top: 0;
    height: 100%;
    right: 100%;
    width: 75%;
    transition: .5s;
}

.searchContainer.open {
    right: 25%;
}

.mask {
    position: absolute;
    height: 100%;
    width: 25%;
}

.container {
    height: 100%;
    transition: margin-left .5s;
}

.container.close {
    margin-left: 75%;
}

.ListBox {
    height: calc(100vh - 13vw);
    overflow: scroll;
}

.ListBox.searchBox {
    height: calc(100vh - 37vw);
    margin-top: 24vw;
}

.Search {
    box-sizing: border-box;
    width: 100%;
    background-color: #faf9fc;
    padding: 4.5vw 5vw 3.5vw 8vw;
    position: fixed;
    top: 13vw;
}

.resButton {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5vw;
}

.Search p {
    margin: 0;
}

p.resCount {
    font-family: SourceSansPro-Semibold,serif;
    color: #8560a9;
    font-size: 5vw;
}

p.resContent {
    color: #67616d;
    font-size: 3.75vw;
    font-family: SourceSansPro-Regular,serif;
    word-break: break-word;
}

div.Search button {
    width: 35vw;
    height: 8vw;
    background-color: #d5ef7f;
    color: #67616d;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 3.75vw;
    font-size: 3vw;
}

div.noActivity {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
    width: 100vw;
}

div.noActivity img {
    margin-top: 5vw;
    width: 30vw;
    height: 30vw;
    background-repeat: no-repeat;
}

div.noActivity p {
    font-family:SourceSansPro-Regular, serif;
    margin: 4vw 0 0;
    font-size: 5vw;
    color: #BABABA;
}