@font-face {
    font-family: "SourceSans3-SemiBold";
    src: url("../../../assets/FONTs/SourceSans3-SemiBold.ttf");
}

@font-face {
    font-family: "SourceSans3-Bold";
    src: url("../../../assets/FONTs/SourceSans3-Bold.ttf");
}

@font-face {
    font-family: "SourceSans3-Regular";
    src: url("../../../assets/FONTs/SourceSans3-Regular.ttf");
}

.top {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 4vw;
}

.top .channel {
    border: #D3C1E5 1px solid;
    border-radius: 3.2vw;
    padding: .6vw 2vw 0 2vw;
    font-family: "SourceSans3-Regular", serif;
    color: #8560a9;
    font-size: 3.2vw;
    margin-left: 4vw;
}

.top .title {
    margin: 4vw;
    text-align: left;
    font-family: "SourceSans3-SemiBold", serif;
    font-size: 5vw;
}

.top .userInfo {
    margin-left: 4vw;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top .userInfo .userAva {
    width: 9vw;
    height: 9vw;
    border-radius: 100%;
}

.top .userInfo .nameAndDay {
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.top .userInfo .nameAndDay .userName {
    font-family: "SourceSans3-Regular", serif;
    font-size: 3.5vw;
}

.top .userInfo .nameAndDay .day {
    font-family: "SourceSans3-Regular", serif;
    font-size: 3.2vw;
    color: #BABABA;
}