@font-face {
    font-family: "SourceSans3-Regular";
    src: url("../../../assets/FONTs/SourceSans3-Regular.ttf");
}

.Comment {
    margin-top: 5.5vw;
    margin-left: 5vw;
    display: flex;
    flex-direction: row;
    margin-bottom: 3vw;
    scroll-margin-top: 25vw;
}

.Comment .userIcon {
    width: 8vw;
    height: 8vw;
    border-radius: 100%;
    margin-top: .5vw;
}

.Comment .replyIcon {
    width: 5vw;
    height: 5vw;
    position: relative;
}

.Comment .commentInfo {
    margin-left: 2vw;
}

.commentInfo .headLine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80vw;
}

.commentInfo .headLine .userName {
    font-family: "SourceSans3-Regular", serif;
    font-size: 3.5vw;
    color: #8560a9;
}

.commentInfo .headLine .publishedTime {
    font-family: "SourceSans3-Regular", serif;
    font-size: 2.5vw;
    color: #BABABA;
    margin-left: 2.5vw;
}

.commentInfo .content {
    font-family: "SourceSans3-Regular", serif;
    font-size: 3.5vw;
    padding-right: 14vw;
    color: #67616D;
}