@font-face {
    font-family: "SourceSans3-Regular";
    src: url("../../../assets/FONTs/SourceSans3-Regular.ttf");
}

.container {
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

.container .Icon {
    width: 6vw;
    height: 6vw;
}

.container .left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80vw;
    height: 15vw;
    background-color: #8560A9;
}

.left .inputPanel {
    width: 60vw;
    height: 8vw;
    border-radius: 5vw;
    padding-left: 3.5vw;
    border: none;
}

.left .inputPanel::placeholder {
    font-family: "SourceSans3-Regular",serif;
    color: #D3C1E5;
    font-size: 3.5vw;
}

.container .right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20vw;
    height: 15vw;
    background-color: #D5EF7F;
}